// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "bootstrap-icons/font/bootstrap-icons.css";


@import 'table';

/* common */



body {
    background-color: var(--cl-d-white) !important;
    padding-top: 4rem;
}

.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}



h1,
h2,
h3,
h4 {

    margin: 0;
    margin-bottom: 1rem;
}

h1 {

    font-size: 2rem;
}

h2 {

    font-size: 1.7rem;
}

h3 {

    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
    font-weight: 600;
}



/* navbar */

.navbar {
    padding: 0.2rem;
}

.nav-item {
    margin: 0 5px 0 5px;
}

.nav-item a.nav-link {
    border-radius: 5px;
}



.nav-item button.nav-link {
    margin: 5px;
    border-radius: 5px;
}



.navbar-brand img {
    max-height: 30px;
}


#chart_div {
    width: 100%;
    min-height: 450px;
}

/* accordion */

.accordion {
    margin: 1rem 0 1rem 0;
}



/* forms */

.form-group {
    margin: 1rem;
}


/* cards */

.card-header {
    padding: 0 5px 0 5px;
}

.card-header h3 {
    margin: 0.2rem;
}

th.rotate {
    /* Something you can count on */
	height: 200px ;
	position: relative ;
}

th.rotate>div {
	bottom: 5px ;
	left: 50% ;
	position: absolute ;
	transform: rotate( -90deg ) ;
	transform-origin: center left ;
	white-space: nowrap ;
}
