/* navbar */

.navbar {
    padding: 0.2rem;
}

.nav-item {
    margin: 0 5px 0 5px;
}

.nav-item a.nav-link {
    border-radius: 5px;
}



.nav-item button.nav-link {
    margin: 5px;
    border-radius: 5px;
}



.navbar-brand img {
    max-height: 30px;
}


#chart_div {
    width: 100%;
    min-height: 450px;
}

a.nav-link{
    display: block;
    padding: 0.3rem;
}

a.active{
    font-weight: 600;
    border: 1px solid $dark;
}