body {
    background-color: #f1f1f1 !important;
}


#chart_div {
    width: 100%;
    min-height: 450px;
}

th.rotated-text {
    height: 140px;
    white-space: nowrap;
    padding: 0 !important;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.table-table tr {
    max-height: 20px;
}

table .subj-name {
    max-width: 10%;
    white-space: nowrap;
    /* Отменяем перенос текста */
    overflow: hidden;
    /* Обрезаем содержимое */
    text-overflow: ellipsis;
    /* Многоточие */
}

.table-table,
.table-table td {
    font-size: 1rem;
    padding: 0 !important;
}

.table thead {
    color: #ffffff !important;
    background-color: #40668d !important;
}

.bg-dblue {
    background-color: #40668d !important;
}

.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-group {
    margin: 1rem;
}