/* common */

:root {


    --cl-d-blue: #40668d;

    --cl-dd-blue: #2e4a65;

    --cl-l-blue: #b1c6da;

    --cl-d-white: #f1f1f1;
    --cl-ddd-blue: #1a2938;
}


body {
    background-color: var(--cl-d-white) !important;
}

.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bg-dblue {
    background-color: var(--cl-d-blue) !important;
}

.bg-light-grey {
    background-color: var(--cl-l-blue) !important;
}

h1,
h2,
h3,
h4 {
    padding: 0.5rem;
}

/* buttons */

button.active {
    background-color: var(--cl-d-blue) !important;
    border-color: var(--dark-border-color) !important;
}

.btn-primary {
    background-color: var(--cl-d-blue) !important;
    border-color: var(--dark-border-color) !important;
}

.btn-primary:hover {
    background-color: var(--cl-dd-blue) !important;
}

/* navbar */

.nav-item {
    margin: 0 5px 0 5px;
}

.nav-item a.nav-link {
    color: var(--cl-d-white) !important;
    border-radius: 5px;
    border: 1px solid var(--dark-border-color) !important;
}

.nav-item a.nav-link:hover {
    background-color: var(--cl-dd-blue) !important;
    border: 1px solid var(--cl-ddd-blue) !important;
}


.nav-item button.nav-link {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--cl-l-blue) !important;
}

.nav-item button.nav-link:hover {
    background-color: var(--cl-l-blue) !important;
    border: 1px solid var(--cl-dd-blue) !important;
}

.navbar-brand img {
    max-height: 50px;
}


#chart_div {
    width: 100%;
    min-height: 450px;
}

/* accordion */

.accordion {
    margin: 1rem 0 1rem 0;
}

.accrdion .accordion-header {
    background-color: var(--cl-dd-blue) !important;
}

/* tables */

.div-table {
    max-width: 100%;
    overflow-y: scroll;
}

table {
    margin: 1rem 0 1rem 0;
}

.table tr {
    /*  border-bottom: 1px solid var(--cl-ddd-blue) !important;*/
}

table td.we-cols {
    background-color: var(--cl-l-blue) !important;
}

.table thead th {
    border: 1px solid var(--cl-d-white) !important;
}

th.rotated-text {
    height: 140px;
    white-space: nowrap;
    padding: 0 !important;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.table-table tr {
    max-height: 20px;
}

table th.subj-name,
table td.subj-name {
    max-width: 200px;
    white-space: nowrap;
    /* Отменяем перенос текста */
    overflow: hidden;
    /* Обрезаем содержимое */
    text-overflow: ellipsis;
    /* Многоточие */
}

.table-table,
.table-table td {
    text-align: center;
    vertical-align: center;
    font-size: 1rem;
    padding: 0 !important;
}

.table thead {
    color: var(--cl-d-white) !important;
    background-color: var(--cl-d-blue) !important;
}

/* forms */

.form-group {
    margin: 1rem;
}