/* common */

body {
    background-color: #f1f1f1 !important;
}

.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bg-dblue {
    background-color: #40668d !important;
}

.nav-item {
    margin: 0 5px 0 5px;
}

.nav-item a.nav-link {
    color: #f1f1f1 !important;
    border-radius: 5px;
    border: 1px solid #2e4a65 !important;
}

.nav-item a.nav-link:hover {
    background-color: #2e4a65 !important;
   border: 1px solid #1a2938 !important;
}


.nav-item button.nav-link{
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #7ea7cd !important;  
}
.nav-item button.nav-link:hover{
    background-color: #acbcdd  !important;
    border: 1px solid #4d657d !important; 
}

/* navbar */

.navbar-brand img {
    max-height: 50px;
}


#chart_div {
    width: 100%;
    min-height: 450px;
}

/* tables */

th.rotated-text {
    height: 140px;
    white-space: nowrap;
    padding: 0 !important;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.table-table tr {
    max-height: 20px;
}

table th.subj-name,
table td.subj-name {
    max-width: 200px;
    white-space: nowrap;
    /* Отменяем перенос текста */
    overflow: hidden;
    /* Обрезаем содержимое */
    text-overflow: ellipsis;
    /* Многоточие */
}

.table-table,
.table-table td {
    font-size: 1rem;
    padding: 0 !important;
}

.table thead {
    color: #ffffff !important;
    background-color: #40668d !important;
}

/* forms */

.form-group {
    margin: 1rem;
}